[*] 
indent_style = space 
trim_trailing_whitespace = true
insert_final_newline = true 

[*.md]
indent_size = 2
trim_trailing_whitespace = false

[*.{csproj,xml,json,yaml}]
indent_size = 2

[*.{cs,csx,vb,vbx}] 
indent_size = 4 
insert_final_newline = true 
charset = utf-8-bom 
